
.menu{
list-style-type:none;
margin:0;
padding:0;

}

.menu a {
display:block;
color:green;
background-color:red;
width:8em;
padding:.2em .8em;
text-decoration:none;
line-height:30px;
}

.menu a:hover{
background-color:yellow;
}

.menu li{
margin:.2em 0 0 0;
}